[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/alfonsoandrei/neovim.git
[submodule "themes/.zsh2000-node"]
	path = themes/.zsh2000-node
	url = https://github.com/alfonsoandrei/zsh2000-node.git
